body, html {
  height: 100%;
  margin: 0;
}

html {
  background-image: url(http://cdn-image.foodandwine.com/sites/default/files/1474296403/canadian-man-survived-a-bear-attack-fwx.jpg);
  background-attachment: fixed;
  background-position: center;
  background-repeat: repeat;
  background-size: cover;
  font-family: "Courier";
}

h1 {
  color: #4444ee;
}

h2 {
  color: #4444ee;
}

p {
  color: #2020aa;
}

#intro {
  background-color: rgba(0,100,255,0.3);
}

#bearimage1 {
  background-image: url(https://www.gannett-cdn.com/-mm-/00c84aa0468c2780333237426af6c968e983da0b/c=0-101-1342-1890&r=537&c=0-0-534-712/local/-/media/2017/03/03/USATODAY/USATODAY/636241521801023155-BEAR-BEAR-.JPG);
}
